
<head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-Learning Portal</title>

</head>
<div class="container">
   
    <div class="row row-content">
        <div class="order-sm-last col-12 col-sm-12 col-md-5">
            <h4>Last Competitions Participated</h4>
            <ul class="col-12">
                <li>Winter Competition  <span class="badge badge-success">Completed</span></li>
                <li>All India Abacus Championship  <span class="badge badge-success">Completed</span></li>
                <li>Summer Slam  <span class="badge badge-success">Completed</span></li>
            </ul>
        </div>
        <div class="order-sm-first col col-sm-12 col-md-6">
            <div>
                <div class="col-12 col-lg-6">
                    <img src="assets/img/rez.jpg" height="150" width="161" alt="kashiPic"
                    class="d-flex mr-3 img-thumbnailalign-self-center">
                </div>
              
                <div class="media-body col-lg-6 col-12">
                    <h4 >HI Kashinath Arora !!</h4>
                    <cite title="source title">- MAATS Academy</cite>
                </div>

            </div>
        </div>
    </div>



    <div style="margin-top: 50px!important;" class="row row-content align-items-center">
            <div class="col-12 col-lg-12 col-md-12">
                <h4 class="text-align">Upcoming Competitions <span class="badge badge-info blink_me"> Register Now </span></h4>
            </div>
                <div class="col-12 col-lg-3 col-md-6 cardContainer">
                    <div  class="card shadow p-10 mb-1 bg-white rounded" style="width: 15rem;">

                        <div class="card-body">
                          <h5 style="color: black;" class="card-title">Master of Abacus Competition- Surat </h5>
                          <p style="color: black;" class="card-text" id="demo"></p>
                          <a href="#" class="btn btn-primary">Registeration Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 cardContainer">
                    <div  class="card shadow p-10 mb-1 bg-white rounded" style="width: 15rem;">

                        <div class="card-body">
                          <h5 style="color: black;" class="card-title">Master of Abacus Competition- Surat </h5>
                          <p style="color: black;" class="card-text" id="demo3"></p>
                          <a href="#" class="btn btn-primary">Coming Soon</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 cardContainer">
                    <div  class="card shadow p-10 mb-1 bg-white rounded" style="width: 15rem;">

                        <div class="card-body">
                          <h5 style="color: black;" class="card-title">Master of Abacus Competition- Surat </h5>
                          <p style="color: black;" class="card-text" id="demo1"></p>
                          <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 cardContainer">
                    <div  class="card shadow p-10 mb-1 bg-white rounded" style="width: 15rem;">

                        <div class="card-body">
                          <h5 style="color: black;" class="card-title">Master of Abacus Competition- Surat </h5>
                          <p style="color: black;" class="card-text" id="demo2"></p>
                          <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </div>
    </div>
</div>
